h1{
    color:blue;
    text-align: center;
}

.sus{
    color:coral
}
button{
    background-color: black;
    color: white;
}
input{
    border-radius: 10px;
}

.card{
    background-color: wheat;
    border-radius: 10px;
}