<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename = 'signup.css') }}">
    
    <title>LogIn page</title>
</head>
<body>
    <div class='card'>
    <h1 class="sus">login page</h1>
  
    <form action="{{ url_for('login')}}" method ="post">                    
        <input type='email' name='email' placeholder='enter your email'><br><br>
        <input type='password' name='password' placeholder='enter password'><br><br>
        <a href="/verify">   forgot password </a>

        <button>submit</button>
    </form>
    
</body>
</html>